body{
  background-color: brown;
  scroll-behavior: smooth;
}

p{
  font-size: 1.8em;
}
.navbar a {
  color: whitesmoke;
  font-size: 2.0em;
  
}
.container{
  font-size: 1.5em;
  font-weight: bolder;
}
h5{
  color: black;
  font-family: 'Oswald', sans-serif;;
  font-weight: bolder;
  font-size: 1.7em;
}
h6{
  font-family: 'Oswald', sans-serif;
  font-size: 1.4em;
}
.card{
  padding: 12px;
  margin: 12px;
}