{% extends 'base.html'%}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  {% block content %}

<div class="container">
  {% for project in projects%}
  
  <h3>PROJECT NAME: {{project.title}}</h3>
  <img src="{{project.project_image.url}}" alt="" style="width: 350;height: 350px;">
  <p>{{project.description}}</p>
  <a href="{{project.project_link}}" target="_blank">Project Link</a>
  {% endfor %}
</div>
{% endblock %}
</body>
</html>