{%extends 'base.html'%}
{% load bootstrap4%}

{%block content%}

<div class="row">

  <div class="col-md-6">
    <div class="ppic">
      
      <img src="{{user.profile.profile_image.url}}"  class="img-thumbnail img-responsive img-fluid" alt=""
                style="border-radius: 50%; width:100px; height:100px; border-color: black; border-width: 1.5px;">
    
      <img src="{{ user.profile.profile_image.url }}" alt="{{profile.name}}">

      <h3>{{user.username}}</h3>

      
    </div>
  </div>
  <div class="col-md-6">
    <h3>{{user.username}}</h3>
  
    
    <div class="profile_media">
      <!-- <span class="post_count"> <span class="number_of_posts">{{ user.projects.count }}</span> projects</span> --> 
      <button><a href="{% url 'update'%}" class="bg-bg success">Update Profile</a></button>
     
    <button><a href="/logout"></a>logout</button>
    </div>
    <div>
      <p class="profilename">{{ user.profile.name }}</p>
      <p class="text-secondary">{{ user.profile.bio|linebreaks }}</p>
      <div class="col-sm-6 col-md-7">

        <h4 class="text-center">My Projects</h4>
        <div class="row mt-2">
            {% for project in projects %}
            <div class="col-sm-12 col-md-6 col-lg-6">
              <p>{{project.title}}</p>
                <img src="{{project.project_image.url}}" alt="" class="img-thumbnail img-responsive img-fluid">
            </div>
            {% endfor %}

        </div>

        <div class="col-sm-6 col-md-5">

        </div>

    </div>
      


    </div>
    <div class="row">

      {% for image in images %}
      <div class="col-md-3">
          <div class="card-column" >
            <img class="card-img-top" src="{{image.project_image.url}}" alt="Card image cap" style="width: 250px; height: 250px;">
            <div class="card-body">
             {% autoescape on %}
             <h5 class="card-title">{{image.title | safe}}</h5>
         {% endautoescape %}
              <h5 class="card-title">{{image.description}}</h5>
              <!-- <i class="fa fa-heart "></i> -->
              <a href="" class="btn btn-outline-info btn-sm">reviews</a>
              
      
            </div>
          </div>
        
        </div>
      
      {% endfor %}
      
      
      
      </div>
      
    





{%endblock%}
