{%extends 'base.html'%}
{% load bootstrap4%}
{%load static%}

{%block content%}
<div class="container">
<div class="row">

  <div class="col-md-6">
    <div class="ppic">
      <img src="/{{user.profile.profile_image.url}}" class="img-thumbnail img-responsive img-fluid" alt=""
        style="border-radius: 50%; width:100px; height:100px; border-color: black; border-width: 1.5px;">
        <p class="text-secondary" style="font-family: 'Chango', cursive;
        ">PROFILE:{{ user.profile.bio|linebreaks }}</p>
    </div>
  </div>
  <div class="col-md-6">
    <h3 style="font-family: 'Autour One', cursive;
    ">{{user.username}}</h3>

    <button><a href="{% url 'update'%}" style="text-decoration: none;font-family: 'Autour One', cursive;
      ">EDIT PROFILE</a></button>
    <a href="{% url 'update'%}"><i class="fa fa-cog" style='color:black;font-size: 30px;'></i></a>

    <div>
      <p class="profilename" style="font-family: 'Autour One', cursive;
      ">{{ user.profile.name }}</p>
         </div>
  </div>
</div>
</div>

<div class="container">
  <div class="row">
    
  
    {% for projo in request.user.project_set.all %}
    
      <div class="card" >
        <img src="/{{projo.project_image.url}}" alt="" style="width: 300px; height: 300px;" >
        <h5>{{projo.title}}</h5>
        <h6>{{projo.description}}</h6>
        <a href="{{projo.project_link}}" target="_blank" style="font-family: 'Nosifer', cursive;
        color: brown;">Project Link</a>
        
        
      </div>
    {% endfor %}
    
  </div>                    
</div>

{% endblock %}